* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

table {
  text-align: left;
  line-height: 30px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #336699;
//  width: 400px;
  margin: 20px auto;
  border-radius: 8px;
//  border-radius: .25rem;
}

thead tr:first-child {
  background: #336699;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

th {
  font-weight: 500;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: left;
  padding-right: 10px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

img{
  padding: 10px 10px 10px 10px;
}

div#header{
  margin: auto;
  width: 100%;
  border: 1px solid gray;
  padding: 8px;
  text-align: center;
  background-color: #D3DCE3;
}

div#content{
//  margin: auto;
//  width: 100%;
//  padding: 8px;
  text-align: center;
}

div#footer{
  margin: auto;
  width: 100%;
  border: 1px solid gray;
  padding: 8px;
  text-align: center;
  background-color: #D3DCE3;
}

div#container{
    text-align: center;
    margin: 0;
    padding: 0;
}

div.container {
    text-align: left;
    width: 30em;
    margin: 0 auto;
}

div#login{
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

fieldset.form_input {
    margin-top: 1em;
    -webkit-border-radius: 4px 4px 0 0;
    border: #aaa solid 1px;
    padding: 10px;
    background: #eee;
    box-shadow: 1px 1px 2px #fff inset;
}

fieldset.form_submit {

    margin-font-weight: normal;
    color: #000;
    background: #D3DCE3;
    border: #aaa solid 1px;

    top: 0;
    margin-bottom: .5em;
    border-top: 0;
    text-align: right;
    float: none;
    clear: both;
    border-radius: 0 0 4px 5px;
}

fieldset legend {
    font-weight: bold;
    color: #444;
    padding: 5px 10px;
    border: 1px solid #aaa;
    background-color: #fff;
    box-shadow: 3px 3px 15px #bbb;
    max-width: 100%;
}

form {
    padding: 0;
    margin: 0;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
}

form.login label {
    float: left;
    width: 8em;
    font-weight: bolder;
}

form.login input[type=text], form.login select {
    box-sizing: border-box;
    width: 20em;
}

form.login input[type=password] {
    box-sizing: border-box;
    width: 10em;
}

form.login input[type=text].username {
    box-sizing: border-box;
    width: 10em;
}


form.login input[type="button"], form.login input[type="submit"], form.login input[type="reset"] {
    margin: 0px 10px;
    border: 1px solid #aaa;
    padding: 3px 7px;
    color: #111;
    border-radius: 12px;
    -webkit-border-radius: 12px;
}
