<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - vcard server</title>
    {% endblock %}
</head>
<body>
    <div id="header">
    {% block header %}
    user: <a href="{{ url_for('user') }}">{{ user.username }}</a>
    [<a href="{{ url_for('logout') }}">logout</a>]
    {% endblock %}
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class=flashes>
        {% for message in messages %}
          [{{ message }}]
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    <!--
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2019 by <a href="https://am-bits.com/">AM-BITS LLC</a>.
        {% endblock %}
    </div>
    -->
</body>
</html>