<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>
<center>
<table>
    {% for item in vcards %}
    <tr>
        <td><a href="{{ url_for('get_card', uid=item.uid, html='1') }}">{{ item.vc_value }}</a></td>
        {% if show_avatars %}
        <td><a href="{{ url_for('get_card_short', uid=item.uid, html='1') }}">
            <img src="{{ url_for('get_avatar', uid=item.uid) }}"></a></td>
        {% endif %}
        {% if show_qrcodes %}
        <td><a href="{{ url_for('get_card', uid=item.uid) }}">
            <img src="{{ url_for('get_qrcode', uid=item.uid) }}"></a></td>
        {% endif %}
        {% if not show_avatars and not show_qrcodes%}
        <td style="display:none;"></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</center>

</body>
</html>