{% extends "base.html" %}
{% block title %}Contacts{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block header %}
[<a href="{{ url_for('admin', avatars=0 if show_avatars else 1) }}">{{ 'hide' if show_avatars else 'show' }} avatars</a>]
[<a href="{{ url_for('admin', qrcodes=0 if show_qrcodes else 1) }}">{{ 'hide' if show_qrcodes else 'show' }} qrcodes</a>]
    {{ super() }}
{% endblock %}
{% block content %}
    <table>
        {% for item in vcards %}
    <tr>
        <td><a href="{{ url_for('edit_card', uid=item.uid) }}">{{ item.vc_value }}</a></td>
        {% if show_avatars %}
        <td><a href="{{ url_for('get_card_short', uid=item.uid, html='1') }}">
            <img src="{{ url_for('get_avatar', uid=item.uid) }}"></a></td>
        {% endif %}
        {% if show_qrcodes %}
        <td><a href="{{ url_for('get_card', uid=item.uid) }}">
            <img src="{{ url_for('get_qrcode', uid=item.uid) }}"></a></td>
        {% endif %}
        {% if not show_avatars and not show_qrcodes%}
        <td style="display:none;"></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
{% endblock %}
