<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet">

    <title>Login</title>
</head>
<body>
<div id="container">

    <div id="login">
               <form action='login' method='POST'>
                Login: <input type='text' name='username' id='username' placeholder='username'/>
                <input type='password' name='password' id='password' placeholder='password'/>
                <input type='submit' name='submit'/>
               </form>
    </div>
</div>
</body>
</html>
