{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block header %}
<a href="{{ url_for('admin') }}">vcards</a>
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
<form action="{{ url_for('user') }}" method='POST' class="login">
    <fieldset class="form_input">
        <legend>Edit user</legend>
        <div class="item">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value="{{ user.username }}" readonly/>
        </div>
        <div class="item">
            <label for="api_key">Api key:</label>
            <input type="text" name="api_key" id="api_key" value="{{ user.api_key }}" readonly/>
        </div>
        <div class="item">
            <label for="password1">Password:</label>
            <input type="password" name="password1" id="password1" placeholder="new password"/>
            <input type="password" name="password2" id="password2" placeholder="new password"/>
        </div>
        <input type="hidden" name="id" id="id" value="{{ user.id }}"/>
    </fieldset>
    <fieldset class="form_submit">
        <input type="submit" name="submit"/>
    </fieldset>
</form>
</div>
{% endblock %}


