<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <tr><td>Username:</td><td>{{ user.username }} {{session['username']}}</td></tr>
    <tr><td>API-KEY:</td><td>{{ user.api_key }}</td></tr>
</table>
       <form action="{{ url_for('user') }}" method='POST'>
        <input type='password1' name='password1' id='password1' placeholder='password1'/>
        <input type='password2' name='password2' id='password2' placeholder='password2'/>
        <input type='submit' name='submit'/>
       </form>
</body>
</html>