<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VCARD: {{ uid }}</title>
</head>
<body>
<center>
<br />
<a href="{{ url_for('get_card', uid=uid) }}">
    <img src="{{ url_for('get_qrcode', uid=uid) }}"></a>
<br />
<br />
    <br /><a href="{{ url_for('get_card', uid=uid) }}"><img src="{{ url_for('get_avatar', uid=uid) }}"></a><br />
    <div align="left">
    <ul>
    {% for item in vcard_items %}
        <li>{{ item.vc_value }}</li>
    {% endfor %}
    </ul>
    </div>
</center>
</body>
</html>
